.app-container {
  background-color: #212121;
  padding-top: 20px;
  height: 96.6vh;
}

.clear-button {
  position: absolute;
  margin-top: 515px;
  margin-left: 30px;
  height: 40px;
  width: 150px;
  font-size: 18px;
}

.bot-container {
  color: white;
  height: 455px;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.bot-container::-webkit-scrollbar {
  width: 0rem;
}

.bot-container::-webkit-scrollbar-thumb {
  background-color: none;
}

.bot_input-container {
  width: 900px;
  height: 45px;
  margin: 20px auto 0 auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #494A54;
  border-radius: 10px;
}

.bot_input-container input {
  width: 850px;
  height: 43px;
  font-size: 15px;
  margin-right: auto;
  outline: none;
  border: none;
  color: white;
  background-color: #212121;
}

.bot_input-container button {
  background-color: #494A54;
  height: 33px;
  width: 30px;
  border: none;
  border-radius: 5px;

  span {
    font-size: 25px;
  }

  cursor: pointer;
}

.chat-message {
  display: flex;
  flex-direction: column;
}

.chat-avatar {
  width: 35px;
  border-radius: 50px;
}

.bouncing-loader {
  display: flex;
  background-color: #2F2F2F;
  padding: 7px;
  border-radius: 10px;
  margin-left: 60px;
  margin-top: -5.5px;
  height: 18px;
  width: fit-content;
}

.bouncing-loader>div {
  width: 8px;
  height: 8px;
  margin: 6px 3px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-5px);
  }
}

.bouncing-loader>div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader>div:nth-child(3) {
  animation-delay: 0.4s;
}

.message-content {
  padding: 6px 8px;
  border-radius: 10px;
  margin-top: -5px;
  max-width: 500px;
}

.message-content pre {
  max-width: 500px;
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.you-message .message-content {
  align-self: flex-end;
  background-color: #2F2F2F;
  margin-right: 60px;

  div {
    margin: 0 5px 10px 5px;
  }
}

.you-avatar {
  align-self: flex-end;
  margin-right: 20px;
}

.bot-avatar {
  align-self: flex-start;
  margin-left: 20px;
}

.bot-message .message-content {
  align-self: flex-start;
  background-color: #2F2F2F;
  margin-left: 60px;

  div {
    margin: 0 5px 10px 5px;
  }
}

.bot-message .message-content .message_p {
  margin: 5px 5px 5px 5px;
}

.suggestions-button {
  margin: 15px 10px 8px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.suggestions-button button {
  padding: 6px 8px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-button {
  color: red;
  border: none;
  border-radius: 8px;
  background-color: black;
  width: fit-content;
  margin-top: 5px;
  margin-left: 65px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: red;
  color: black;
}